---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Mi blog de aprendizaje de Astro";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Aquí es donde publicaré sobre mi viaje aprendiendo Astro.</p>
</BaseLayout>
