---

---

<div class="bg-space-top"></div>
<h1 class="text-5xl font-sans font-semibold">
  ¡Bienvenidos a Ecofinca Pura Vida!
</h1>
<br />
<h2 class="text-2xl">Permacultura y Agroecología para una Vida Más Rica</h2>
